#Complex Data type
It is a special data type known as Complex data type
#Syntax of complex data type
a + bj
here a = real part and b = imaginary part
in Mathematics i is an imaginary part Similarly, j in python

#Data types: bool data type
To represent the bool values we use bool data types in python
They allow data types like True or False
here, python internally represent True = 1 and False = 0

#Data types: str data type
In python String is represented as str
And it can enclosed with single quote(''), and double quotes("")

In [2]:
#Example for str data types
s = 'Saifulla'
print(type(s)) # printing the data type using single quote
s = 'a'
print(type(s)) # printing the data type using double quotes
s = "a"
print(s)      
print(type(s))

<class 'str'>
<class 'str'>
a
<class 'str'>

In pyhton we cannot use single qoute and double quote for for multiple lines of code 
So, instead of using these use the triple quotes
It is represented as triple quotes(""")

#positive and negative index in string data type
So, we have to know about So, The characters which will used by string position is know as Index
And the string starts from 0.

In [4]:
s = "Saifulla"
print(s[0]) #here at 0th index we are printing
print(s[3]) #printing the 3rd index value

S
f

In [5]:
s = "Saifulla"
print(s[50]) #printing 50th index value

IndexError: string index out of range

what's the special feature in indexing?
It provides Negative indexing and positive indexing
In negative indexing it starts from -1 to reverse direction of a String

In [7]:
#Same example in Negatuve indexing
s = "Saifulla"
print(s[-2]) #here at -2 negative index we are printing
print(s[-5])

l
f

In [8]:
s = "Saifulla"
print(s[-50]) #printing -50th index value 
#we will get same error like it is out of range

IndexError: string index out of range

#Slice operator in String data types
What is Slice
cutting a Mango into some pieces then each piece will become a Slice
In the same in the sense breaking a string into parts are know as Slice

In [19]:
#Example
s = 'abcdefghijklmnopqrstuvwxyz' 
slice = s[2:17]    
print(slice)

cdefghijklmnopq

In [20]:
#suppose if we are not assign the beginning index then it starts from 0th index
s = 'abcdefghijklmnopqrstuvwxyz' 
slice = s[:17]    
print(slice)

abcdefghijklmnopq

In [21]:
#suppose if we are not assign the end index then it prints upto last index
s = 'abcdefghijklmnopqrstuvwxyz' 
slice = s[2:]    
print(slice)

cdefghijklmnopqrstuvwxyz

In [22]:
#Suppose we are not assigning beginning index and end index 
s = 'abcdefghijklmnopqrstuvwxyz' 
slice = s[:]    
print(slice)

abcdefghijklmnopqrstuvwxyz

In [33]:
s = 'saifulla'
d = s[0].upper() + s[1:]
print(d)

Saifulla

In [42]:
#+ and * operators for str data type 
x = 'saif' *5 #To repeat the stmt we use *
print(x)
x = 'saif' + 'saif' #to add to variables we use + operator, we can also called concatenation
print(x)

saifsaifsaifsaifsaif
saifsaif

Type casting
it is a process of converting one type to another type is know as type casting

#Fundamental Data Types vs Immutability 
All fundamental data types are immutable
what is Immutable?
If we create once an object we cannot change it so, it is non-changeable

In [44]:
#example
x = 10
print(id(x))
x = x+1
print(id(x))

140731248035016
140731248035048

In [47]:
#Assign same variables
x = 10 
y = x 
print(id(x))  
print(id(y))
y = y + 1 
print(x)  
print(y) 
#Now after changing it gets different id
print(id(x))  
print(id(y))

140731248035016
140731248035016
10
11
140731248035016
140731248035048

# Mutability
If we create once an object we can change the modifications so, it is changeable it is called Mutable
#Example data types: Lists, Tuples, Dictionaries etc., are mutable
1. List: Group of Objects
   example l = [10,20,25,30,40,45]
   l = [10,20,25,30,40,45]
   #by using index we can print
   print(l[0]) #we will get as 10
   print(l[4]) #we will get as 40

So as i said list is Mutable know see how it works
Consider an example
l = [10,20,30] 
print(l) 
# output [10,20,30]
print(id(l))
# output 5626136821
l[0]=2526 # now object 10 will replace with 2526 
print(l) 
# output [2526,20,30]
print(id(l))
# output 3274629842

In [50]:
#Example
l = [10,20,30] 
print(l) 
# output [10,20,30]
print(id(l))
# output 5626136821
l[0]=2526 # now object 10 will replace with 2526 
print(l) 
# output [2526,20,30]
print(id(l))
# output 3274629842

[10, 20, 30]
1413208518912
[2526, 20, 30]
1413208518912

# Range data type 
It represents sequence of numbers
It is an in-buit function() in python
Range object is immutable

In [56]:
#Example for range
r = range(10)
print(type(r))
print(r)
for x in r:
    print(x,end = '')

<class 'range'>
range(0, 10)
0123456789

In [58]:
# Can we access elements present in the range Data Type by using index
r = range(10,21)
print(r[0])
print(r[-2])

10
19

In [59]:
r1 = r[1:5]
print(r1)
for x in r1:
     print(x,end=' ')

range(11, 15)
11 12 13 14

In [61]:
#Can we create a list of values with range data type
l = list(range(10))
print(l)
#Output:
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#  Bytes and Byte array in python
Bytes array represents group of byte array just like an array
It is immutable

In [66]:
#Example
l = [10,20,30,40]
b = bytes(l) 
print(type(b))
#Suppose if we want to print inside the b
for x in b:
    print(x)

<class 'bytes'>
10
20
30
40

In [68]:
# In bytes array they have two various conclusions are they
#1. 0-255 values are only allowed
#Example
l = [10,20,30,40,256] #here we have taken 256 as a value in an array
b = bytes(l)
# output it will give you error due to range should be considerd from 0-255 only

ValueError: bytes must be in range(0, 256)

# 2. it is immutable

In [69]:
#Example
l = [10,20,30,40]
b = bytes(l)
print(b[0])
b[0] = 100
#output will be it does not support item assignment like it is Immutable

10

TypeError: 'bytes' object does not support item assignment

 # Byte array 
It is similar to Bytes array but it can modify
It is Mutable

In [74]:
#Example
l = [10,20,30,40]
b = bytearray(l)
for i in b:
    print(i,end=' ')
    print(b[0])
b[0] = 188
print(b[0])
#It is Mutable we easily modify it

10 10
20 10
30 10
40 10
188

# None data type in Python
None means nothing
there are some situations like the values are not available at that time the None data type was introduced 
If we assign nothing to a variable it will considerd as None

In [76]:
#Example
s = None # here None is an object
print(id(s))
print(type(s))
# as we get output with None Datatype

140731247149552
<class 'NoneType'>

In [77]:
#Example
a = None
b = None
c = None
def f1(): #defing a function() as f1
    pass 
d = f1()   # so here d internally contains None only like we did not assign the value
print(id(a))  #It gives us output
print(id(b))  #It gives us output
print(id(c))  #It gives us output
print(id(d))  #It gives us output

140731247149552
140731247149552
140731247149552
140731247149552